services:
  postgresql:
    container_name: cp_pg_sql
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /data/postgres
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=en-US"
    volumes:
      - postgres:/data/postgres
    ports:
      - "5060:5432"
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    image: mongo:8.0
    container_name: cp_mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo:/data
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    networks:
      - microservices-net

  kafka:
    image: apache/kafka:latest
    container_name: cp_kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - microservices-net

  zipkin:
    image: openzipkin/zipkin-slim:3
    container_name: cp_zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    container_name: cp_keycloak
    command: start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgresql:5432/keycloak_db
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: admin
    ports:
      - "8090:8080"
    networks:
      - microservices-net
    depends_on:
      - postgresql

  mail-dev:
    image: maildev/maildev:2.1.0
    container_name: cp_mail-dev
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  mongo:
